profiles {

    // default profile
    standard {
        process {
            executor = 'local'
        }
    }

    buttercup {
        singularity.enabled = true
        singularity.cacheDir = "/data/images"
        singularity.autoMounts = true
        process.container = "file:///data/images/snp_pipeline_1.0.img"
        process.containerOptions = "-B ${params.out}:${params.out}"
        process.executor = 'local'
    }

    test {
        executor {
            cpus = 1
            memory = 16.GB
        }
        process {
            executor = 'local'
            withLabel: multi {
                cpus = 1
            }
        }
    }

    no_cluster {
        executor {
            cpus = 16
            memory = 120.GB
        }
        process {
            executor = 'local'
            withLabel: multi {
                cpus = 1
            }
        }
    }

    slurm_cluster {
        executor {
            queueSize = 32
        }
        process {
            executor = 'slurm'
            withLabel: multi {
                cpus = 1
            }
            withName: process_results {
                cpus = 1
            }
        }
    }
}
